<a href="https://colab.research.google.com/github/DarvinB/python/blob/main/EjerciciosPr%C3%A1cticos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

EERCICIO 1
Realizar la carga del lado de un cuadrado, mostrar por pantalla el perímetro del mismo (El perímetro de un cuadrado se calcula multiplicando el valor del lado por cuatro).

In [ ]:
# Solicitamos el valor de un lado del cuadrado
lado_cuadrado = float(input('Introduce el valor del lado del cuadrado: '))

# Operación para calcular el perímetro del cuadrado.
perimetro = (lado_cuadrado * 4)

# Impresión final del programa
print(f'El valor del perímetro del cuadrado es: {perimetro}')

Introduce el valor del lado del cuadrado: 5.3
El valor del perímetro del cuadrado es: 21.2

EJERCICO 2
Escribir un programa en el cual se ingresen cuatro números, calcular e informar la suma de los dos primeros y el producto del tercero y el cuarto.

In [ ]:
# Solicitamos la entrada de los 4 números que necesitamos.
numero1 = float(input('Introduce el primer número: '))
numero2 = float(input('Introduce el segundo número: '))
numero3 = float(input('Introduce el tercer número: '))
numero4 = float(input('Introduce el cuarto número: '))
print()

# Operaciones necesarias para calcular el resultado de ambas operaciones.
suma = (numero1 + numero2)
producto = (numero3 * numero4)

# Impresión final del programa, suma y producto.
print(f'El resultado de la suma de {numero1} + {numero2} es: {suma}')
print()
print(f'El resultado de la multiplicación de {numero3} * {numero4} es: {producto}')

Introduce el primer número: 20
Introduce el segundo número: 60
Introduce el tercer número: 4
Introduce el cuarto número: 10

El resultado de la suma de 20.0 + 60.0 es: 80.0

El resultado de la multiplicación de 4.0 * 10.0 es: 40.0

EJERCICIO 3
Calcular el sueldo mensual de un operario conociendo la cantidad de horas trabajadas y el valor por hora. Variables enteras, flotantes y cadenas de caracteres.

In [ ]:
# Entrada de datos valor de la hora y la cantidad de horas trabajadas
valor_hora = float(input("Registre el valor de la hora del operario: "))
horas_trab = int(input("Registre las horas trabajadas: "))

# Operaciones para calcular el sueldo
sueldoMen = (valor_hora * horas_trab)

# Impresión final del programa
print(f"El valor hora: {valor_hora} * {horas_trab} horas trabajadas da un sueldo de: {sueldoMen} ")

Registre el valor de la hora del operario: 5.6
Registre las horas trabajadas: 170
El valor hora: 5.6 * 170 horas trabajadas da un sueldo de: 951.9999999999999

EJERCICO 4
Realizar la carga de dos nombres de personas distintos. Mostrar por pantalla luego ordenados en forma alfabética.

In [ ]:
# Entrada de datos
print('Ingresa dos nombres diferentes')
nombre1 = input('Introduce un primer nombre: ')
nombre2 = input('Introduce un segundo nombre: ')
nombre3 = input('Introduce un tercer nombre: ')
nombre4 = input('Introduce un cuarto nombre: ')
nombre5 = input('Introduce un quinto nombre: ')
nombre6 = input('Introduce un sexto nombre: ')

# Orden alfabético impresión final del programa
nombres = [nombre1, nombre2, nombre3, nombre4,nombre5,nombre6]
nombres_lista = sorted(nombres)
nombres_lista2 = sorted(nombres, reverse = True)

print('Orden Ascendente:')
for nombre in nombres_lista:
  print(nombre)
print('*******************')
print('Orden Descendente:')
for nombre in nombres_lista2:
  print(nombre)

Ingresa dos nombres diferentes
Introduce un primer nombre: RODOLFO
Introduce un segundo nombre: MATEO
Introduce un tercer nombre: DARVIN
Introduce un cuarto nombre: CRISTIAN
Introduce un quinto nombre: CLAUDIA
Introduce un sexto nombre: LISETH
Orden Ascendente:
CLAUDIA
CRISTIAN
DARVIN
LISETH
MATEO
RODOLFO
*******************
Orden Descendente:
RODOLFO
MATEO
LISETH
DARVIN
CRISTIAN
CLAUDIA

EJERCICIO 5 Realizar la carga por teclado del nombre, edad y altura de dos personas. Mostrar por pantalla el nombre de la persona con mayor altura.

In [ ]:
# Entrada de datos
print('Introduce el nombre, edad y altura de dos personas')
nombre1 = input('Ingrese el nombre: ')
edad1 = int(input('Ingrese la edad: '))
altura1 = float(input('Ingrese la altura: '))

print('Introduce los datos de la segunda persona')
nombre2 = input('Ingrese el nombre: ')
edad2 = int(input('Ingrese la edad: '))
altura2 = float(input('Ingrese la altura: '))

# Operación e impresión final
if altura1 > altura2:
  print(nombre1)
else:
  print(nombre2)

Introduce el nombre, edad y altura de dos personas
Ingrese el nombre: mateo
Ingrese la edad: 18
Ingrese la altura: 1.70
Introduce los datos de la segunda persona
Ingrese el nombre: cristian
Ingrese la edad: 21
Ingrese la altura: 1.60
mateo

EJERCICIO 6 Realizar la carga de dos nombres por teclado. Mostrar cual de los dos es mayor alfabeticamente o si son iguales.

In [ ]:
# Entrada de datos
nombre1 = input('Introduce un primer nombre: ')
nombre2 = input('Introduce un segundo nombre: ')
tamano1 = len(nombre1)
tamano2 = len(nombre2)

# Operaciones e impresión final
if tamano1 == tamano2:
  print('Son iguales alfabeticamente')
else:
  if tamano1 > tamano2:
    print(f'{nombre1} es mayor alfabeticamente')
  else:
    print(f'{nombre2} es mayor alfabeticamente')

Introduce un primer nombre: cristian
Introduce un segundo nombre: rodolfo
cristian es mayor alfabeticamente

In [ ]:
# Cliclo FOR
# Entrada de datos
entr_nom =['david','william','mariana','angela']

# Operaciones
nom_list = entr_nom
print('Imprimir los nombres ingresados')
for nombre in nom_list:
  print('Desordenados: ',nombre)

entr_nom.sort()

# Salida de datos
print('****************************')
print('Imprimir los nombres ordenados Descendentes: ')
for nombre2 in entr_nom:
  print('Ordenados: ',nombre2)

entr_nom.sort(reverse = True)

print('****************************')
print('Imprimir los nombres ordenados Ascendentes: ')
for nombre2 in entr_nom:
  print('Ordenados: ',nombre2)

Imprimir los nombres ingresados
Desordenados:  david
Desordenados:  william
Desordenados:  mariana
Desordenados:  angela
****************************
Imprimir los nombres ordenados Descendentes:
Ordenados:  angela
Ordenados:  david
Ordenados:  mariana
Ordenados:  william
****************************
Imprimir los nombres ordenados Ascendentes:
Ordenados:  william
Ordenados:  mariana
Ordenados:  david
Ordenados:  angela

In [ ]:
"""Escribí un programa que solicite al usuario dos números y los almacene en dos variables. 
En otra variable, almacená el resultado de la suma de esos dos números y luego mostrá ese resultado en pantalla.
A continuación, el programa debe solicitar al usuario que ingrese un tercer número, el cual se debe almacenar en 
una nueva variable. Por último, mostrá en pantalla el resultado de la multiplicación de este nuevo número por el 
resultado de la suma anterior."""

num1 = float(input('introduce un numero: '))
num2 = float(input('introduce un segundo numero: '))

suma = num1 + num2

print(f'El resultado de la suma es: {suma}')

num3 = float(input('introduce un tercer numero: '))

producto = suma * num3

print(f'El resultado de la suma por {num3} es: {producto}')

introduce un numero: 2
introduce un segundo numero: 5
El resultado de la suma es: 7.0
introduce un tercer numero: 3
El resultado de la suma por 3.0 es: 21.0